{% extends 'main/base.html.twig' %}
{% block body %}

<h1 class = "ml-5 mt-5 text-xl text-gray-500 text-center">
    {{ title }}
</h1>
<h2 class="text-2xl ml-5 text-gray-500 text-center">QA - сервис вопросов и ответов. <p>
Пользователи добавляют на сайт свои вопросы и любой другой пользователь может на него ответить.</h2>
{% endblock %}