{% extends 'main/base.html.twig' %}
{% block body %}

<h1>
    {{ title }}
</h1>
<h2>QA - сервис вопросов и ответов
Пользователи добавляют на сайт свои вопросы и любой другой пользователь может на него ответить.</h2>
{% endblock %}