{% extends 'admin/adminbase.html.twig' %}
{% block body %}

    <h1>
        {{ title }}
    </h1>

    {% for message in app.flashes('success') %}
        {{ message }}
    {% endfor %}
    
    <a href="{{ path('admin_create_category') }}">Создать категорию</a><br>
    <ul>
        {% for category in categories %}
            <li>{{ category.title }}</li>
        {% endfor %}
    </ul> 

{% endblock %}